pipeline/pl_extract_from_zip_files.json
{
	"name": "pl_extract_from_zip_files",
	"properties": {
		"activities": [
			{
				"name": "ZipMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSV_UTF16",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.BLOB_CONTAINER",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2020-08-31T00:00:00Z",
						"modifiedDatetimeEnd": "2021-01-01T00:00:00Z",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ZipMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ZipMetadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyBlobToGen2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetMetadata_source_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings",
											"preserveZipFileNameAsFolder": true
										}
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ""
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_UTF16",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.BLOB_CONTAINER",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZDLGEN2_CSV",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "pl_extract_files",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "CopyBlobToGen2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_extract_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"sub_folder": {
										"value": "@item().name",
										"type": "Expression"
									},
									"file_lastModified": {
										"value": "@convertFromUtc(activity('GetMetadata_source_file').output.lastModified,'New Zealand Standard Time')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GetMetadata_source_file",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_AZBLB_ZIP_TXT",
									"type": "DatasetReference",
									"parameters": {
										"zip_filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"container": {
											"value": "@pipeline().parameters.BLOB_CONTAINER",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BLOB_CONTAINER": {
				"type": "string",
				"defaultValue": "d365-export-data"
			}
		},
		"variables": {
			"lastModified": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-09T06:34:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}