pipeline/pl_extract_files.json
{
	"name": "pl_extract_files",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AZDLGEN2_TXT_FILE_DIR",
						"type": "DatasetReference",
						"parameters": {
							"directory_name": {
								"value": "TEST_D365_stage/@{pipeline().parameters.sub_folder}",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'.xml')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_data_as_parquet",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "export_filename",
														"value": {
															"value": "@pipeline().parameters.sub_folder",
															"type": "Expression"
														}
													},
													{
														"name": "lastModified",
														"value": {
															"value": "@pipeline().parameters.file_lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "*",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_AZDLGEN2_TXT_FILE_DIR",
												"type": "DatasetReference",
												"parameters": {
													"directory_name": {
														"value": "TEST_D365_stage",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_AZGEN2_PARQUET",
												"type": "DatasetReference",
												"parameters": {
													"file_sysetm": "kotahi-raw-zone",
													"folder": {
														"value": "@{pipeline().parameters.target_folder}/@{item().name}",
														"type": "Expression"
													},
													"file_name": {
														"value": "@pipeline().parameters.sub_folder",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_data_as_text",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "export_filename",
														"value": {
															"value": "@pipeline().parameters.sub_folder",
															"type": "Expression"
														}
													},
													{
														"name": "lastModified",
														"value": {
															"value": "@pipeline().parameters.file_lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "*",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_AZDLGEN2_TXT_FILE_DIR",
												"type": "DatasetReference",
												"parameters": {
													"directory_name": {
														"value": "TEST_D365_stage",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_AZGEN2_TEXT_FILE",
												"type": "DatasetReference",
												"parameters": {
													"file_sysetm": "kotahi-raw-zone",
													"folder": {
														"value": "@{pipeline().parameters.target_folder}/@{item().name}",
														"type": "Expression"
													},
													"file_name": {
														"value": "@pipeline().parameters.sub_folder",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sub_folder": {
				"type": "string"
			},
			"target_folder": {
				"type": "string",
				"defaultValue": "D365/d365-export-data"
			},
			"file_lastModified": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-09T05:53:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}